@import url(https://fonts.googleapis.com/css2?family=Inika&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,700;1,700&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Inter+Tight:ital@0;1&display=swap);

*, ::before, ::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: inherit;
}

.wrapper { 
   font-family: "Stack Sans Text", sans-serif;
   font-style: normal;
   background-color: rgba(96, 217, 156, 0.115);
   overflow: hidden;
}

.navbar {
    padding: 110px 40px 105px 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(96, 217, 156, 0.115);
}

header {
    font-weight: 400;
    font-family: "Inika";
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type:  none;
    gap: 40px;
}

.header-menu li {
    font-size: 16px;
}

.welcome-leafs {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 225px;
    background-color: rgba(96, 217, 156, 0.115);
}

.plants {
    font-size: 16px;
}

#learn-more {
    border-radius: 12px;
    background-color: #E0673300;
    border: 2px solid #e4610f;
    padding: 16px 30px;
    font-size: 16px;
    font-family: "Inter Tight";
    font-weight: 400;
}

.text1 { 
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 42px;
    padding: 50px;
    margin-right: 110px;
}

.text1 h1 {
    font-size: 45px;
    font-family: "Inter Tight";
    font-weight: 700;
}

.text1 p {
    font-size: 20px;
    font-family: "Inter Tight";
    font-weight: 400;
    white-space: pre-line;
    color: #636060;
}

.about {
    background-color: white;
}

.about2 { 
    margin: 0 auto;
    padding: 109px 94px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.text2 {
    display: flex;
    flex-direction: column;
    align-self: center;
    row-gap: 40px;
}

.text2 h1 {
    font-weight: 400;
    font-size: 40px;
    font-family: "Inika";
}

.textp2 {
    font-size: 20px;
    font-family: "Inter Tight";
    font-weight: 400;
    white-space: pre-line;
    color: #636060;
}

.logo {
    display: flex;
}

#leaf {
    width: 20px;
    height: 20px;
}

#leafs {
    width: 449px;
    display: flex;
}

#flowerpot {
    width: 464px;
    height: 479px;
    display: flex;
}

.welcome-header {
  font-weight: weight;
}

.text-color_green {
    color: #499A18;
}

.text-color_orange {
    color: #e4610f;
}

.service {
    margin: 0 auto;
    padding: 109px 94px;
    display: flex;
    flex-direction: column;
    background-color: rgba(96, 217, 156, 0.115);
}

h2 {
    width: 306px;
    height: 94px;
    font-size: 40px;
    color: #499A18;
}

.service-btns {
    display: flex;
    column-gap: 38px;
}

.service-content {
    display: flex;
    justify-content: center;
    column-gap: 142px;
    margin-left: -200px;
    margin-bottom: 90px;
    font-family: "Inika";
    font-weight: 400;
}

.gardens-btn {
    width: 161px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inika";
    background-color: #E0673300;
    border: 2px solid #E06733;
    color: #E06733;
}

.lawn-btn {
    width: 161px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #E0673300;
    border: 2px solid #E06733;
    color: #E06733;
}

.planting-btn {
    width: 161px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #E0673300;
    border: 2px solid #E06733;
    color: #E06733;
}

.service-item-gardens h3 {
    font-size: 20px;
    font-family: "Inter Tight";
    font-weight: 700;
}

.service-item-gardens p {
    font-size: 16px;
    font-family: "Inter Tight";
    font-weight: 400;
}

.service-item-planting h3 {
    font-size: 20px;
    font-family: "Inter Tight";
    font-weight: 700;
}

.service-item-planting p {
    font-size: 16px;
    font-family: "Inter Tight";
    font-weight: 400;
}

.service-item-lawn h3 {
    font-size: 20px;
    font-family: "Inter Tight";
    font-weight: 700;
}

.service-item-lawn p {
    font-size: 16px;
    font-family: "Inter Tight";
    font-weight: 400;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 117px;
    row-gap: 55px;
}

.services-img {
    width: 329px;
    height: 350px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.services-img img {
    width: 329px;
    margin-top: -65px;
}

.services-img-donut {
    width: 329px;
    height: 350px;
    overflow: hidden;
}

.services-img-donut img {
    width: 329px;
    height: 350px
}

.lorem-ipsum {
    width: 330px;
    height: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #E3E1D5;
}

h3 {
    display: flex;
    justify-content: center;
    color: #E06733;
}

.lorem-ipsum p {
    display: flex;
    justify-content: center;
    color: #717171;
}

.prices {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.prices-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 109px 94px;
}

.prices-img-wrapper {
    display: flex;
}

.img-arrow {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #D9D9D9;
    cursor: pointer;
}

#leafs2 {
    width: 152px;
    height: 175px;
} 

.text-call-us span {
    color: #499A18;
}

.text-call-us {
    display: flex;
    flex-direction: column;
    
}

.call-us-btn {
    width: 162px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #E0673300;
    border: 2px solid #E06733;
    color: #E06733;
    font-family: "Inika";
    font-weight: 700;
}

.prices2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 60px;
    font-family: "Inter Tight";
    font-weight: 700;
}

.prices2 h1 {
    font-size: 40px;
}

.text-call-us p {
    font-size: 40px;
    font-family: "Inter Tight";
    font-weight: 700;
}

.prices-item {
    display: flex;
    border: #E3E1D5 solid 1px;
    border-radius: 20px;
}

.price-item {
    width: 250px;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 32px;
    padding: 34px 41px;
}

.price-btn {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 20px;
    background-color: rgba(96, 217, 156, 0.115);
}

.contacts {
    margin: 0 auto;
    padding: 109px 94px;
    display: flex;
    flex-direction: column;
    background-color: rgba(96, 217, 156, 0.115);
}

.contacts-container {
    display: flex;
    justify-content: flex-end;
    font-family: "Inter Tight";
    font-weight: 400;
}

.contacts-btn {
    width: 450px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: #D6E7D2;
    color: #717171;
}

.contacts p {
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-family: "Inika";
    font-weight: 700;
    color: #499A18;
}

#contact-woman {
    width: 500px;
    height: 597px;
}

footer {
    margin: 0 auto;
}

.github {
    display: flex;
    column-gap: 20px;
}

.content-footer {
    margin: 0 auto;
    padding: 109px 40px;
    display: flex;
    justify-content: space-between;
}

.content-footer p {
    font-family: "Inter Tight";
    font-weight: 400;
}

.social-list {
    display: flex;
    column-gap: 10px;
}

@media screen and (max-width:768px) {
    header {
        font-weight: 400;
        font-family: "Inika";
    }

    body {
        max-width: 768px; 
        margin: 0 auto;
    }

    .logo {
        width: 77px;
    }

    .navbar {
        padding: 50px 70px;
        background-color: rgba(96, 217, 156, 0.115);
    }

    .welcome-leafs {
        flex-direction: row;
        column-gap: 47px;
    }

    .text1 {
        margin-right: 0px;
        /* padding: 40px 0px 70px 50px; */
    }

    .text2 {
        flex-direction: column;
        align-items: center;
    }

    #flowerpot {
        width: 250px;
        height: 258px;
    }

    .prices2 {
        font-size: 35px;
    }

    .price-item {
        font-size: 20px;
    }

    .text-call-us p {
        font-size: 25px;
    }

    .prices-wrapper {
        gap: 40px;
        padding: 40px 51px;
    }

    #leafs {
        width: 280px;
    }

    .text1 h1 {
        font-size: 35px;
    }

    .text1 p {
        font-size: 16px;
        margin-bottom: -30px;
    }

    #learn-more {
        margin-top: 30px;
        border-radius: 10px;
        padding: 14px 27px;
    }

    .about2 {
        flex-direction: column-reverse;
        align-items: center;
    }

    #contact-woman {
        width: 200px;
        height: 248px;
    }

    .contacts {
        flex-direction: column;
        align-items: center;
    }

    .content-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 33px 247px;
        gap: 18px;
    }

    .textp2 {
        line-height: 30px;
    }
}

@media screen and (max-width:380px) {

        .burger-toggle {
            position: relative;
            width: 50px;
            height: 50px;
            border: none;
            background-color:  rgba(96, 217, 156, 0.115);
            z-index: 20;
            cursor: pointer;
        }

        .burger-toggle span {
            position: absolute;
            width: 40px;
            height: 3px;
            background-color: #717171;
            left: 4px;
        }

        .burger-toggle span:nth-child(1) {
            transform: translateY(-10px);
        }

        .burger-toggle span:nth-child(3) {
            transform: translateY(10px);
        }

        .burger-toggle span:nth-child(4) {
            transform: translateY(20px);
        }


        .header-menu {
            position: fixed;
            right: 0;
            top: 0;
            display: block;
            padding: 20px 35px 20px 20px;
            margin-top: 100px;
            background-color: white;
            transition: transform .5s;
            transform: translateX(0%);
        }

        .header.closed .header-menu{
            transform: translateX(100%);
            transition: transform .5s;
        }

        .header.open .burger-toggle span {
          background-color: #717171;
        }

        .leafs {
            display: none;
        }

        #leaf {
            margin-left: -50px;
        }

        .text1 {
            margin-left: -25px;
        }

        .prices-img-wrapper {
            display: none;
        }

        .navbar {
            background-color: rgba(96, 217, 156, 0.115);
        }

        .logo {
            display: flex;

        }

        .contacts-btn {
            width: 300px;
            height: 50px;
        }

        #flowerpot {
            width: 150px;
            height: 147px;
        }

        #contact-woman {
            width: 100px;
            height: 124px;
        }

        #learn-more {
            padding: 8px 18px;
            font-size: 12px;
            margin-top: 20px;
        }

        .gardens-btn {
            width: 121px;
            height: 35px;
            font-size: 15px;
        }

        .lawn-btn {
            width: 121px;
            height: 35px;
            font-size: 15px;
        }

        .planting-btn {
            width: 121px;
            height: 35px;
            font-size: 15px;
            margin-top: 50px;
            margin-left: -325px;
        }

        .service-content {
            flex-direction: column;
            margin-left: -50px;
            margin-bottom: 40px;
        }

        .service-content h2 {
            width: 187px;
            font-size: 25px;
            margin-top: -60px;
        }

        .price-item {
            font-size: 15px;
            row-gap: 13px;
        }

        .prices2 h1 {
            font-size: 25px;
        }

        .content-footer {
            padding: 15px;
        }

        .text1 h1 {
            font-size: 25px;
            line-height: 35px;
            padding: 0px 10px;
            margin-left: -10px;
            margin-top: -50px;
        }

        .text2 h1 {
            font-size: 25px;
            line-height: 39px;
        }

        .text1 p {
            line-height: 30px;
            margin-top: -18px;
        }

        .textp2 {
            font-size: 15px;
            line-height: 25px;
            white-space:inherit;
            margin-top: -30px;
        }

        .price-btn {
            width: 180px;
            height: 49px;
        }

        .prices-item {
            width: 224px;
            flex-direction: row-reverse;
            justify-content: center;
        }

        .prices2 {
            align-items: center;
        }

        .text-call-us p {
            font-size: 20px;
            text-align: center;
            line-height: 37px;
            padding: 0px 10px;
        }

        .call-us-btn {
            width: 121px;
            height: 35px;
            font-size: 15px;
        }

        .prices-wrapper {
            flex-direction: column;
        }

        .about2 {
            padding: 30px 31px;
        }

        .text-call-us {
            gap: 14px;
            align-items: center;
        }

        .contacts-btn span {
            margin-left: 17px;
        }

        .img-arrow {
            margin-right: 17px;
        }

        .contacts-container {
            margin-bottom: 120px;
            box-shadow: 5px 5px 5px #717171;
        }

        .contact-woman-img {
            margin-bottom: -112px;
        }

        .contacts p {
            font-size: 25px;
            margin-bottom: 80px;
            margin-top: -70px;
        }

        .content-footer p {
            font-size: 20px;
        }
}

/* здесь общем напишу:
5) в респонсиве лучше использовать относительные единицы (осторожно)*/