@import url(https://fonts.google.com/selection/embed);

*, ::before, ::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: inherit;
}

.wrapper { 
   max-width: 1440px; 
   margin: 0 auto;
   padding: 65px 30px;
   background-color: rgba(96, 217, 156, 0.115);
}

.navbar {
    /* padding: 110px 40px 105px 40px; */
    display: flex;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type:  none;
    gap: 40px;
}

.header-menu span {
    color: #e4610f;
}

.welcome {
    max-width: 1440px; 
    margin: 0 auto;
    padding: 65px 30px;
    background-color: rgba(96, 217, 156, 0.115);
}

.welcome-leafs {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 225px;
}

#learn-more {
    border-radius: 12px;
    background-color: #E0673300;
    border: 2px solid #e4610f;
    padding: 16px 30px;
    
}

.text1 {
    max-width: 1440px; 
    margin: 0 auto;
    font-size: 20px;
    padding: 50px 50px 50px 50px;
}

.about {
    background-color: white;
}

.about2 {
    max-width: 1440px; 
    margin: 0 auto;
    padding: 109px 94px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.text2 {
    display: flex;
    flex-direction: column;
    align-self: center;
    row-gap: 40px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#leaf {
    width: 20px;
    height: 20px;
}

#leafs {
    width: 449px;
    height: 407px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#flowerpot {
    width: 464px;
    height: 479px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.pupu {
  .stack-sans-text-uniquifier {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
}

.pupu span {
    color: rgb(51, 216, 13);
}

.pipi {
    color: rgb(51, 216, 13);
}

.pepe {
    color: #e4610f;
}

.pipi2 {
    color: rgb(51, 216, 13);
}